# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Python virtual environment
.venv/
venv/
*.pyc
__pycache__/

# IDE files
.idea/
.vscode/

# Build artifacts
dist/
*.egg-info/

# Environment files (handle within Docker Compose)
.env

# MacOS specific
.DS_Store

# Logs
*.log 